
backend/src/main/resources/serviceAccountKey.json
backend/src/main/resources/application-secret.properties
backend/src/main/resources/application.properties
frontend/.env
backend/src/main/resources/serviceAccountKey.json
.env
